<p>Please Enter Correct From and To locations.</p>

<div class="displayCard" fxLayout="column" fxLayoutAlign="space-around start">
    <div class="carrier" fxLayout="column" fxLayoutAlign="space-around start">
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Carrier Name :-  </span>
            <span>Carrier Name</span>
        </div>
        <div  fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Scac Name</span>
            <span>Scac Name</span>
        </div>
    </div>

    <div class="carrier"  fxLayout="column" fxLayoutAlign="space-around start" >
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Name</span>
            <span>Port Discharge</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Port Discharge</span>
            <span>Scac Name</span>
        </div>
    </div>
    <div class="carrier" fxLayout="column" fxLayoutAlign="space-around start" >
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Name</span>
            <span>Port Discharge</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
            <span class="fieldName">Port Discharge</span>
            <span>Scac Name</span>
        </div>
    </div>
    <div class="carrier"  fxLayout="column" fxLayoutAlign="space-around start" style="width: 100%;">
        <span>Vessel Name</span>
        <span>imoNumber</span>
        <span>voyage Number</span>
        
    </div>
</div>